In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv(r"C:\Users\Admin\Downloads\Social_Network_Ads.csv")

In [3]:
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [4]:
df.shape

(400, 3)

In [5]:
x=df.drop(['Purchased'],axis=1)
y=df.pop("Purchased")

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [8]:
from sklearn.ensemble import RandomForestClassifier

In [9]:
clfr=RandomForestClassifier(n_estimators=10,criterion='gini')
clfr.fit(x_train,y_train)

RandomForestClassifier(n_estimators=10)

In [10]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

In [11]:
ypre=clfr.predict(x_test)
output=confusion_matrix(y_test,ypre)
print('Confusion matrix output: ')
output

Confusion matrix output:

array([[47,  6],
       [ 8, 19]], dtype=int64)

In [12]:
x_test.shape

(80, 2)

In [13]:
output1=classification_report(y_test,ypre)
print('Classification report')
print(output1)

Classification report
              precision    recall  f1-score   support

           0       0.85      0.89      0.87        53
           1       0.76      0.70      0.73        27

    accuracy                           0.82        80
   macro avg       0.81      0.80      0.80        80
weighted avg       0.82      0.82      0.82        80

In [14]:
output2=accuracy_score(y_test,ypre)
print(output2)

0.825